<ul>
  <li>You bet <%= @amount %> points on <%= @bets.to_sentence(word: 'or') %></li>
  <li>Your odds were <%= @odds %></li>
  <li>If you win, you get <%= @return %> more points</li>
  <li>You rolled a <%= @roll %></li>
  <li>You <%= @success ? 'won' : 'lost' %></li>
</ul>
